@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --main-bg-color: #111111;
    --main-text-color: #efeeee;
    --secondary-text-color: #b4b5b3;
}


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
  }

  input, button, textarea, select {
    font: inherit;
  }

  /* About Section */  
  
  .about {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about h1 {
    color: var(--main-text-color)
  }
  
  .about .subtitle {
    color: var(--secondary-text-color)
  }

  .about img {
    margin-top: 20px;
    height: 100px;
    border-radius: 50%;
}

.about .bio {
    margin-top: 20px;
    color: var(--main-text-color);
    text-wrap: wrap;
    max-width: 488px;
    text-align: center;
}

.links {
    margin-top: 30px;
}


.email-link {
    display: inline-flex;
    align-items: center;
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    padding: 5px 12px 5px 5px;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-link:hover {
    background-color: #d2d0d0;
}

.email-link i {
    background: transparent !important;
    background-color: transparent !important;
    padding-top: 3px;
    margin-right: 6px;
    font-size: 14pt;
    rotate: -45deg;
    display: inline-block;
    vertical-align: middle;
}